/* =========================
   RESET
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
    background: #0B2E26;
}

/* =========================
   NAVBAR
========================= */

.navbar {

    width: 100%;
    min-height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 7%;

    background: #0B2E26;

    border-bottom: 1px solid #1F4D42;

    position: sticky;
    top: 0;

    z-index: 1000;

}

/* =========================
   LOGO
========================= */

.logo h2 {

    font-size: 1.8rem;
    font-weight: 700;

    color: #F8FAFC;

    cursor: pointer;

}

.logo span {

    color: #1DBF73;

}

/* =========================
   NAV LINKS
========================= */

.nav-links {

    display: flex;
    align-items: center;

    list-style: none;

    gap: 2.5rem;

}

.nav-links a {

    text-decoration: none;

    color: #C8D5CF;

    font-size: 1rem;

    font-weight: 500;

    transition: .3s;

}

.nav-links a:hover {

    color: #1DBF73;

}

/* =========================
   BUTTON
========================= */

.nav-btn {

    background: #1DBF73;

    color: white;

    border: none;

    padding: .8rem 1.5rem;

    border-radius: 8px;

    cursor: pointer;

    font-size: .95rem;

    font-weight: 600;

    transition: .3s;

}

.nav-btn:hover {

    background: #18A965;

}

/* =========================
   TABLET
========================= */

@media (max-width:992px){

.nav-links{

    gap:1.4rem;

}

}

/* =========================
   MOBILE
========================= */

@media(max-width:768px){

.nav-links{

    display:none;

}

.nav-btn{

    display:none;

}

.logo h2{

    font-size:1.5rem;

}

}